body {
    background-color: #110038;
}

.header {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    box-shadow: 0 1px 0 0 #110038;
}

nav button {
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    color: white;
}

.btn1:hover,
.btn2:hover,
.btn3:hover {
    background: #CE36DB;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.theme-menu {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.theme-menu #theme1 {
    color: #110038;
    background: #CCCCCC;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.theme-menu #theme2 {
    color: white;
    background: #2E32FB;
    border: 1px solid rgba(51, 53, 143, 0.20);
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

#theme1:hover {
    outline: 1px dotted #110038;
}

#theme2:hover {
    outline: 1px dotted white;
}

.misGifos {
    color: #FFFFFF;
}

.misGifos:hover {
    border: 1px dotted #FFFFFF;
}

.misGifos:active {
    color: #807794;
}

nav a div:hover {
    border: 1px dotted white;
    color: white;
}

nav a div:active {
    color: #110038;
}

.search-bar {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.search-bar nav {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

#dropdown {
    filter: invert(100%);
}

#lupa {
    filter: invert(45%);
}

.search-results {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.result {
    background: #CCCCCC;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.result-text:hover {
    outline: 1px dotted #110038;
}

.btn4 {
    background: #B4B4B4;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.btn4 .search {
    color: #8F8F8F;
}

.search-textfield-results {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.template-bar {
    border: 1px solid #2E32FB;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
}

.suggestions-gif1,
.suggestions-gif2,
.suggestions-gif3,
.suggestions-gif4 {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
}

.gif-bar {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.btn-container {
    color: #FFFFFF;
    background: #2E32FB;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
}

.btn-container:hover {
    background: #2629CC;
    outline: 1px dotted white;
}

.trending-gif-small:hover,
.trending-gif-big:hover {
    box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
}

.trending-gif-bar,
.trending-gif-big-bar {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.saved-searches-btn {
    background: #2E32FB;
    box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
}

.record {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.record-header {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

#btn10 {
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

#btn11 {
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

#btn12 {
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.btn17,
#btn9 {
    background: #110038;
    border: 1px solid #B4B4B4;
    box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}

.btn17:hover,
#btn9:hover {
    border: 1px dotted #FFFFFF;
}

.btn18 {
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.btn25 {
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}