h1 {
  font-size: 48px;
}

.headerContainer h1 {
  font-size: 64px;
}

.headerContainer p {
  max-width: 628px;
}

.topicosDivTemas {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  grid-column-gap: 70px;
}

.episodiosContainer {
  padding-top: 7%;
  clip-path: polygon(0 12%, 100% 0%, 100% 85%, 0% 100%);
}

.novedadesDivTitle h1 {
  padding-top: 8%;
}

.btn2 {
  margin-top: 3%;
  margin-left: 0%;
  margin-bottom: 5%;
}

.novedadesContainer {
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
}